<header class="navbar">
    <nav class="nav-container">
        <div class="nav-brand">
            <a href="/" class="brand-link">Airbnb</a>
        </div>
        <div class="nav-links">
            <a href="/home-list" class="nav-link" >Home List</a>
            <a href="/bookings" class="nav-link" >Bookings</a>
            <a href="/favourite" class="nav-link" >Favourites</a>
            <a href="/host/host-homes" class="nav-link" >Host Homes</a>
            <a href="/host/add-home" class="nav-link" >Add Home</a>
            <a href="/" class="nav-link">Homepage</a>
        </div>
    </nav>
</header>